<section class="login-form">
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
    [formGroup]="profileForm"
    (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input
        type="email"
        matInput
        placeholder="Email"
        formControlName="email"
      >
      <mat-error *ngIf="email.errors?.required">Email is not be empty</mat-error>
      <mat-error *ngIf="email.errors?.pattern">Email is invalid</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="Should be a six characters">
      <input
        type="password"
        matInput
        placeholder="Password"
        minlength="6"
        formControlName="pass"
      >
      <mat-hint align="end">{{pass.value.length}} / 6</mat-hint>
    </mat-form-field>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="!profileForm.valid">Submit
    </button>
    {{profileForm.value.email.validate}}
  </form>
</section>
