<section class="signup-form">
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
    #f="ngForm"
    (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input
        type="email"
        matInput
        placeholder="Email"
        ngModel
        name="email"
        email
        required
        #emailError="ngModel">
      <mat-error *ngIf="emailError.hasError('required')">Email is not be empty</mat-error>
      <mat-error *ngIf="!emailError.hasError('required')">Email is invalid</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="Should be a six characters">
      <input
        type="password"
        matInput
        placeholder="Password"
        ngModel
        name="password"
        required
        minlength="6"
        #pwInput="ngModel"
      >
      <mat-hint align="end">{{pwInput.value.length}} / 6</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input
        matInput
        ngModel
        [matDatepicker]="picker"
        [max]="maxDate"
        name="data"
        required
      >
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-checkbox
      labelPosition="after"
      name="agree"
      ngModel
      color="primary"
      required>Agree
    </mat-checkbox>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="f.invalid">Submit
    </button>
  </form>
</section>
